@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
body,
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: "Bricolage Grotesque", sans-serif;
}